@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  transition: 0.5s ease;
}

header .brand{
  color: #000;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #000;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #000;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

header .search{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #d9d9d9;
  background-color: #fff;
  border-color: #d9d9d9;
  border-radius: 5px;
}

/*cart*/
.cart-sidebar{
  position: fixed;
  right: -400px;
  top: 0;
  width: 350px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 35px gray;
  overflow-y: auto;
  z-index: 1000;
  transition: all ease 0.5s;
}
.cart-sidebar .cart-title h4{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  padding: 20px 30px 20px;
  border-bottom: 1px solid #000;
}
.cart-sidebar .cart-body{
  padding: 30px 0;
}
.cart-sidebar .cart-item{
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 30px;
}
.cart-sidebar .cart-item .img{
  width: 20%;
  float: left;
}
.cart-sidebar .cart-item .img img{
  width: 100%;
}
.cart-sidebar .cart-item .text{
  width: 80%;
  float: left;
  padding: 0 20px;
}
.cart-sidebar .cart-item .text span,
.cart-sidebar .cart-item .text h5{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 5px;
}
.cart-sidebar .cart-item .text span{
  color: #000;
}
.cart-sidebar .cart-item .text .color-primary{
  color: #fff;
}
.cart-sidebar .btn{
  display: inline-block;
  width: 80%;
  text-align: center;
  text-decoration: none;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  padding: 14px 39px;
  letter-spacing: 4px;
  border-radius: 50px;
  box-shadow: 0 8px 10px #000;
  margin: 20% 10% 0;
}
.cart-sidebar .close-icon{
  position: absolute;
  right: 5px;
  top: 20px;
  cursor: pointer;
}
.cart-sidebar .close-icon img{
  width: 50%;
}

section{
    padding: 100px 200px;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
  }

  header .search{
    padding: 10px;
    border: 2px solid #d9d9d9;
    background-color: #fff;
  }

  .menu-btn{
    background: url("../assets/fries-menu-icon.svg")no-repeat;
    color: #000;
    border-radius: 10%;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url("../assets/close-icon.png")no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
}
.left-column{
  width: 55%;
  position: relative;
  padding-right: 10%;
}
.left-column img{
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}
.left-column img.active{
  opacity: 1;
  position: relative;
}

.right-column{
    width: 35%;
    position: relative;
}

.product-description{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
}
.product-description span{
    font-size: 15px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1{
    font-weight: 500;
    font-size: 52px;
    color: #000;
    letter-spacing: -2px;
}
.product-description p{
    font-size: 12px;
    font-weight: 300;
    color: #000;
    line-height: 20px;
}
/* Product Color */
.product-color {
    margin-bottom: 20px;
}
.product-color span{
  font-size: 16px;
  font-weight: 500;
}
.color-choose div {
  margin-top: 5px;
  display: inline-block;
}
   
  .color-choose input[type=radio] {
    display: none;
  }
   
  .color-choose input[type=radio] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
   
  .color-choose input[type="radio"] + label span {
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
  }
   
  .color-choose input[type="radio"]#red + label span {
    background-color: #C91524;
  }
  .color-choose input[type="radio"]#blue + label span {
    background-color: #314780;
  }
  .color-choose input[type="radio"]#black + label span {
    background-color: #323232;
  }
   
  .color-choose input[type="radio"]:checked + label span {
    background-image: url(../assets/jjjjound-2.png);
    background-repeat: no-repeat;
    background-position: center;
  }

/* Product Size */
.product-size {
  margin-bottom: 20px;
}
.product-size span{
  font-size: 16px;
  font-weight: 500;
}
.size-choose div{
  display: inline-block;
  margin-top: 5px;
}
 
.size-choose input[type=button] {
  display: none;
}

.size-choose input[type=button] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #f4efe9;
  margin: 0 0 0 0;
  cursor: pointer;
  text-align: center;
  padding: 5px 5px;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  transition: 0.3s ease;
  box-shadow: 1px #000;
}

.size-choose input[type="button"] + label span:hover{
  background-color: #000;
  color: #fff;
}

  /* Product Price */
.product-price {
    display: flex;
    align-items: center;
  }
  .product-price span {
    font-size: 26px;
    font-weight: 500;
    color: #000;
    margin-right: 20px;
  }
  .addtocart-btn {
    display: inline-block;
    background-color: #f4efe9;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }
  .addtocart-btn:hover {
    background-color: #000;
    color: #fff;
  }
  /* Responsive */
@media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
    .right-column{
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 100%;
      right: 0;
      top: 10px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 100%;
    }
  }

/*footer*/
.footer{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container-foot{
  max-width: 1170px;
  background-color: #f4efe9;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #f4efe9;
  padding: 70px 0;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d9d9d9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col a{
  font-size: 12px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  width: 50%;
}
.footer-col ul li:not(:nth-last-child()){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 12px;
  text-transform: capitalize;
  color: #000;
  text-decoration: none;
  font-weight: 300;
  color: #000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #000;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  color: white;
  height: 40px;
  width: 40px;
  background-color: rgba(1, 1, 1, 0.5);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #000;
  background-color: #fff;
}
@media(max-width: 767px){
  .footer-col{
    width: 25%;
    margin-bottom: 30px;
  }
  .footer-col a{
    width: 50%;
  }
}@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}